.component-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-inner-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    height: 272px;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    background: #61DAFB;
}

.icons-container {
    display: flex;
    position: relative;
}

.icon {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    gap: 8px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 800px;
    border: 1px solid black;
}

.react-icon {
    margin-top: -25px;
    margin-right: -25px;
}

.myop-icon {
    z-index: 1;
}

.react-icon svg, .myop-icon svg {
    width: 24px;
    height: 24px;
}

.content-text {
    text-align: center;
}

.title {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-family: "priego";
    letter-spacing: 1.5px
}

.subtitle {
    margin: 4px 0 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #000;
    font-family: "priego";
}

.buttons-container {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 8px 16px;
    border: 1px solid #5A595B;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 40px;
}

.btn-outline {
    background-color: white;
}

.btn-outline:hover {
    background-color: #f5f5f5;
}

.btn-primary {
    color: white;
    background-color: #343738;
}

.btn-primary:hover {
    background-color: black;
}
